
.time {
    font-style: bold;
    font-size: 18px;
    padding: 25px;
    text-align: right;
    color: red;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

body .button{
    text-align: center;
}

.questions {
    text-align: center;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    padding-bottom: 50px;
}

.col-md-6 {
    background-color: lightseagreen;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.col-md-4 {
    text-align: center;
    font-size: larger;
    padding: 10px;
    color: blue;
}

.scores-list {
    padding: 15px;
}

#clear-scores {
    border-width: 1px;
    outline: solid red;
}